<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCj1xzg-ftADB6p1BcGd8L0ODbMnCvAlUI</string>
	<key>GCM_SENDER_ID</key>
	<string>289472698538</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ohayon.hostsel</string>
	<key>PROJECT_ID</key>
	<string>host-s-el</string>
	<key>STORAGE_BUCKET</key>
	<string>host-s-el.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:289472698538:ios:bbb05520313f3dc85718d3</string>
</dict>
</plist>